@{
    ViewData["Title"] = "Home";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/privacy_StyleSheet.css">
    <title>Login</title>
</head>



    <div class="opcionesContainerPrivacy">
        <div class="opciones">
            <div style="margin:60px 0px 120px 0px">
                <h1>Que desea hacer?</h1>
            </div>
            <div style="display:flex; width:90%; gap:25px">
            <button class="botonOpciones" id="verMenu">
                <h3>
                    ver menu
                 </h3>
            </button>
            <button class="botonOpciones" id="reservar">
                <h3>
                   reservar
                </h3>        
            </button>
            </div>
        </div>

    </div>
<button class="button" id="volver">
    Volver
</button>
<script>
    document.getElementById('verMenu').addEventListener('click', function () {
        window.location.href = '@Url.Action("Menu", "Home")';
    });

    document.getElementById('reservar').addEventListener('click', function () {
        window.location.href = '@Url.Action("Index", "Reserva")'
    });

    document.getElementById('volver').addEventListener('click', function () {
        window.location.href = '@Url.Action("Login", "Login")';
    });


</script>