@{
    ViewData["Title"] = "Home";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/privacy_StyleSheet.css">
    <title>Login</title>
</head>



    <div class="opcionesContainerPrivacy">
        <div class="opciones">
            <div style="margin:60px 0px 120px 0px">
                <h1>Que desea hacer?</h1>
            </div>
            <div style="display:flex; width:90%; gap:25px">
            <div class="botonOpciones">
                <h3>
                    ver menu
                 </h3>
                </div>
            <div class="botonOpciones">
                <h3>
                   reservar
                </h3>        
                </div>
            </div>
        </div>
    </div>
