/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


.logoContainer {
    
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    background: #231F20;
}

.logoContainer img {
    height: 100%;
}

.navbar {
    padding-top: 0px;
}










